
.formBuyer{
    display: flex;
    flex-direction: column;
    text-align: center;
   /*  width: 50%; */
    align-items: center;
    margin-bottom: 2rem;
}

.formBuyer input{
    margin: 0.5rem auto;
    width: 50%;
    height: 2.5rem;
}

.btnBuyer{
    display: flex;
    width: 20% !important;
    height: 2.5rem !important;
    background-color:  rgb(189, 6, 6);
    color: white;
    align-items: center;
    justify-content: center;
   /*  border: solid black 2px; */
}
.errorDato{
    color: red;
}