img{
    height: 15rem;
    width: 15rem;
}
a {
    text-decoration: none;
    color: black;
}
.card{
    border: 1px black solid;
    background-color: #fff;
}

.spinner {
    margin: 5rem auto;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%,#bd0606);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
    animation: spinner-zp9dbg 1s infinite linear;
 }
 
 @keyframes spinner-zp9dbg {
    to {
       transform: rotate(1turn);
    }
 }