nav{
    width: 90%;
    margin: auto;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white !important;
}
a h1{
    color: white;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
ul a li{
    list-style: none;
    height: 100%;
    padding:  1rem;
    font-size: 1rem;
    color: white !important;
}
ul a li:hover{
    background-color: rgb(189, 6, 6);
}
button{
    height: 3rem;
    margin: auto 0;
}
.cart{
    height: 4rem;
    width: 4rem;
}
.activo{
background-color: rgb(189, 6, 6); ;
}
.btn{
    background-color:  rgb(189, 6, 6);
    border: none;
    color: white;
}
.login{
    margin-right: 1rem;
    width: 7%;
    border-radius: 20%;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    nav{
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    ul{
        flex-direction: column;
        padding: 0;
    }
    .login{
        margin: auto;
        width: 20%;
    }
    .centrarCart{
        margin: auto;
    }
}