.botonera{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
h2{
    margin: auto 1rem;
}
.btnAddCart{
    height: 2rem;
    color: red;
    border: solid 1px red;
    background-color: white;
    margin-bottom: 1rem;
}
.botonera button{
    height: 2rem;
    width: 2rem;
    color: red;
    border: solid 1px red;
    background-color: white;
}